%li.message-list
  %p.message-list__username
    = message.user.name
  %p.message-list__date
    = format_posted_time(message.created_at)
  - if message.content.present?
    %p.message-list__comment
      = message.content
  = image_tag message.image.url, class: "message-list__image" if message.image.present?
