html,body{
  width: 100%;
  height: 100%;
}
.contents{
  width: 100%;
  height: 100%;

  .side-bar{
    background-color: gray;
    width: 300px;
    height: 100%;


    .user-info{
      color: #FFFFFF;
      font-size: 16px;
      font-weight: bold;
      background-color: #253141;
      height: 100px;
      padding: 0 20px;
      line-height: 100px;

      .username{
        float:left;
      }

      .edit{
        float:right;
        i.fa.fa-pencil{
          color: white;
        }
        i.fa.fa-cog{
          color: white;
        }
      }
    }

    .group-list{
      background-color: #2f3e51;
      height: 100%;
      ul.group-list{
        padding: 0 20px;
        color: #FFFFFF;
        li{
          padding: 20px 0;
          p.group-listt__name {
            font-size: 15px;
          }
          p.group-list__message{
            font-size: 11px;
            margin: 5px 0 0 0;
          }
        }
      }

    }
  }
  // .main-contents{
  //   background-color: red;
  //   width: 700px;//alc(100vw-300px);
  //   height: 700px;
  //   float:right;

  //   .group-info{
  //     background-color: white;
  //   }
  // }
}
